::-webkit-scrollbar
{
    width: 4px;
    height: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-track
{
    color: transparent;
    background-color: rgb(30, 30, 34);
}

::-webkit-scrollbar-track-piece
{
    display:none;
}

::-webkit-scrollbar-thumb
{
    background-color: rgb(200, 200, 200);
    height: 4px;
    width: 4px;
    border-radius: 1px;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: rgb(20, 20, 25);
  overscroll-behavior: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
